{% extends "base.html" %}

{% block title %}Index | {{super()}}{% endblock %}

{% block content %}
<h1>Hello from {{name}}</h1>
    <div class="form-container">
        <h3>Please vote it!</h3>
        <form action = "/login" method = "post">
         <p>Enter Name:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
        </form>    
    </div>
{% endblock %}

{% block scripts%}
<script src="/static/scripts.js"></script>
{% endblock %}
