<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css"> 
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Vote! Vote! Vote! We need your vote!
      </h1>
      <p class="subtitle">
        We are local statistics company collecting your feedback about this year CE candidate. You are welcome to express your opions. 
      </p>
      <p>You can see the current trend after you vote it!<p>
    </div>
  </section>
  <form action = "/login" method = "post">
  <div>
    <span id="btn1" style="margin-left: 82px"><a class="button is-primary"> Vote me! </a></span>
    <span id="btn2" style="margin-left: 231px"><a class="button is-warning"> Vote me! </a></span>
    <span id="btn3" style="margin-left: 214px"><a class="button is-info"> Vote me! </a></span>
  </div>
  </form>
  
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <p class="title">Mr.Potato</p>
          <p class="subtitle">We are all Together!!</p>
          <figure class="image is-4by3">
            <img src="/Users/janicecheng/PycharmProjects/flaskr/flaskr/static/clumsy.jpg">
          </figure>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-warning">
          <p class="title">Mrs.Lam</p>
          <p class="subtitle">WinWin 2.0</p>
          <figure class="image is-4by3">
            <img src="/Users/janicecheng/PycharmProjects/flaskr/flaskr/static/little_princess.jpg">
          </figure>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Mr.Judge</p>
          <p class="subtitle">We need to be fair</p>
          <figure class="image is-4by3">
            <img src="/Users/janicecheng/PycharmProjects/flaskr/flaskr/static/slow.jpg">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">2046 CE Selection</p>
        <p class="subtitle">Vote for the future! Please vote</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Tall tile</p>
        <p class="subtitle">With even more content</p>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>

</style>
  </body>
</html>